config.env.php
user_privileges/sharing_privileges_*.php
user_privileges/user_privileges_*.php
/.idea/
/.idea/modules.xml
/.idea/php.xml
/.idea/vtiger.iml
/.idea/workspace.xml
/cache/templates_c/v7/0c6301ce2adcea25901a4be6561c356367988851.file.JSResources.tpl.php
/cache/templates_c/v7/0e346c52d7c58269d87c12371880d566cc76180e.file.Footer.tpl.php
/cache/templates_c/v7/10317b812f3691f518036229c9f704163d384d68.file.ModuleHeader.tpl.php
/cache/templates_c/v7/1eeae0694aeaf8878b8a9751e4d497f35afd3fe0.file.DashBoardHeader.tpl.php
/cache/templates_c/v7/2ffbc78fdab9919fafde2a68718a4a80ad4ddea1.file.TopPotentials.tpl.php
/cache/templates_c/v7/3cb4e9f6c94f9f14aff84515e576dbcdaab3ef07.file.Header.tpl.php
/cache/templates_c/v7/3d2ada9d881e7f8ff6642602926a3a4f5ebab9aa.file.TicketsByStatus.tpl.php
/cache/templates_c/v7/3fb1de51082ae15e25897cc6a6b344c9ee913968.file.TopPotentialsContents.tpl.php
/cache/templates_c/v7/4035217bcd42c92d0e189675e8474f3b1d1e7b1f.file.History.tpl.php
/cache/templates_c/v7/55ef4f2a943a3da842b7e7e54ddd6567805d7535.file.DashboardFooterIcons.tpl.php
/cache/templates_c/v7/573981fc647e56a32f7260ec10751c172b076fd3.file.IndexPostProcess.tpl.php
/cache/templates_c/v7/74edcaf8a57ff8af5b4e7f5acb73f66fdda3e465.file.SidebarAppMenu.tpl.php
/cache/templates_c/v7/81f8bc2375e107dafddf5cf2d73ed11d22c7bb71.file.Promotions.tpl.php
/cache/templates_c/v7/8bdd1aed05e7f4d12d6222e522048299ae384fc2.file.Login.tpl.php
/cache/templates_c/v7/90c63068aae4324a2b1cd5df59b9d8adfffc0f2c.file.WidgetHeader.tpl.php
/cache/templates_c/v7/97c9638bac4595ab9839e621cd0f1a88879f381a.file.DashBoardPreProcess.tpl.php
/cache/templates_c/v7/a39006a33129da581b0b35af7aec63a12e2c2f3f.file.SidebarHeader.tpl.php
/cache/templates_c/v7/b45a57b1adba4d307e61f076a5b0f44faf81786c.file.DashBoardContents.tpl.php
/cache/templates_c/v7/b8ca80bb331dd7e9913219a24ab3191b6995c538.file.DashBoardTabContents.tpl.php
/cache/templates_c/v7/bebdd48e6d34fe2ca262976fe0c9139c5c3a08e4.file.DashBoardWidgetContents.tpl.php
/cache/templates_c/v7/d3bf26e8e8faae2ce51f1874dfa3d8ab6cf82d00.file.HistoryContents.tpl.php
/cache/templates_c/v7/e13d1d0f710b57df4480a4a11ee9e1e8e965f12e.file.Topbar.tpl.php
/cache/templates_c/v7/e88fbeb6a905f4492f0ae5ab6d98c416246a0906.file.TotalRevenuePerSalesPerson.tpl.php
/config_new.inc.php
/includes/runtime/cache/Connector--.php
/includes/runtime/cache/Connectors--.php
/modules/Accounts/views/lang.php
/storage/2018/June/week4/2_C360_2016-03-11-17-52-20-299.jpg
/cache
/test
test/templates_c
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/jshint.xml
/.idea/misc.xml
node_modules
logs/*.log
.vscode/launch.json
/.vscode
