/*
	Author: Phu Vo
	Refactor: Hieu Nguyen
*/

/* NOTIFICATION GLOBAL CSS */
/* Uncoment by Phu Vo on 2019.09.24 to set Roboto as default font family */
#notification,
#notification .font {
	font-family: Roboto;
}
/* End set Roboto as default font family */

#notification .hide {
	display: none;
}

#notification .relative {
	position: relative;
}

#notification .inline-flex-center {
	display: inline-flex;
	justify-self: center;
	align-items: center;
}

#notification .inline {
	display: inline-block;
}

/* NOTIFICATION POPOVER */

div#notification-popover {
	/* display: block; */
	position: absolute;
	top: 100%;
	left: auto;
	right: 0px;
}

#notification .popover {
	right: 0px;
	margin-top: 0px;
	max-width: unset;
	width: 400px;
}

#notification .popover .arrow {
	right: 10px;
}

/* NOTIFICATION TABS STYLE */
#notification .tab-pane:not(.active) {
	display: none;
}

#notification .nav-item a {
	text-align: center;
}

/* #notification .nav-item.active {
	font-weight: bold;
} */

#notification .nav-tabs {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#notification .nav-tabs > .nav-item {
	flex: 1;
	cursor: pointer;
	display: flex;
	margin: 0px;
	margin-bottom: -1px;
	height: 100%;
	padding: 7px 15px;
}

#notification .nav-tabs .nav-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle !important;
	padding: 0px;
}

#notification .popover-content {
	padding: 0;
}

#notification .notify-item {
	display: flex;
	padding: 6px;
	padding-bottom: 2px;
	background-color: white;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

#notification .notify-item:not([data-read="0"]):hover {
	background-color: #f3f3f3;
}

#notification .notify-item[data-read="0"] {
	background-color: #f0f8ff;
}

#notification .notify-item[data-read="0"]:hover {
	background-color: #e1ebf5;
}

#notification .notify-item-avatar {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 4px;
}

#notification .notify-item-container {
	padding: 4px;
	padding-top: 6px;
	padding-left: 6px;
	flex: 1;
}

#notification .notify-item-createdtime {
	font-size: 10px;
	text-align: right;
}

#notification .notification-items .avatar-container {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #9a78bd;
	color: white;
	overflow: hidden;
}

#notification .notification-items .avatar-container > img {
	height: 100%;
}

#notification .notification-items .avatar-container > * {
	font-size: 18px;
}

#notification .notify-item-message {
	font-size: inherit;
	overflow: hidden;
	max-height: 100%;
	text-overflow: ellipsis;
}

#notification .notify-item-content {
	height: 3em;
	font-size: 13px;
}

#notification .notify-item.single .notify-item-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#notification .notify-item span.name, #notification .notify-popup span.name {
	font-weight: bold;
}

#notification .nav-tabs > .nav-item.active {
	border-bottom: 2px solid #666;
	border-bottom: 2px solid rgb(46, 159, 191);
	background-color: rgba(46, 159, 191, .06);
	/* background-color: white; */
	background-color: rgb(46, 159, 191);
}

#notification .notification-subtabs.nav-tabs > .nav-item.active {
	border-bottom: 2px solid rgba(46, 159, 191, .7);
}

#notification .nav-tabs > .nav-item.active .nav-link {
	background-color: transparent;
	color: rgb(41, 142, 171);
	color: white;
	cursor: pointer;
}

#notification #notification #notification-tabs .nav-link {
	position: relative;
	top: 3px;
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#notification .nav-tabs .nav-link:hover {
	padding: 0px;
	background-color: transparent;
}

#notification .notification-subtabs.nav-tabs > .nav-item.active {
	background-color: #00ccff;
	background-color: #fefefe;
	background-color: white;
}

#notification .notification-subtabs.nav-tabs > .nav-item.active .nav-link {
	color: #555;
	font-weight: normal;
	margin-bottom: -2px;
}

#notification #notification-tabs .nav-link > * {
	font-size: 20px;
}

#notification #notification-tabs .nav-link > i.fa-clock-o {
	font-size: 29px;
	margin-top: -2px;
}

#notification .notification-subtabs.nav-tabs > .nav-item {
	padding: 5px;
}

#notification .notification-subtabs.nav-tabs > .nav-item .nav-link {
	font-size: 13px;
	cursor: pointer;
}

#notification .popover-content {
	background-color: white;
	border-radius: 5px;
}

/* COUNTERS */
#notification .notification-counter, 
#notification .notification-subtabs-counter {
	color: white;
	font-weight: normal;
	line-height: 1;
}

#notification .notification-subtabs-counter.badge {
	padding: 2px 4px;
	/* background-color: #e81535; */
	border-radius: 3px;
	top: 50% !important;
	right: 50% !important;
	margin-top: -18px;
	margin-right: -20px;
}

#notification .notification-inline-counter {
	line-height: 1.1;
	font-size: 11px;
	margin-left: 4px;
	position: absolute;
	left: 100%;
	color: white;
	background-color: #009966;
	border-radius: 3px;
	padding: 1px 4px;
}

/* NOTIFICATION LOADER */
#notification .notification-loader,
#notification .notification-empty-list {
	text-align: center;
	padding: 8px;
}

/* LIST STATUS */
#notification .notification-list-footer > * {
	display: none;
}

/* Default display none notification-empty-list */
#notification .notification-list .notification-empty-list {
	display: none;
}

#notification .notification-list[data-status="loading"] .notification-loader,
#notification .notification-list[data-status="empty"] .notification-empty-list {
	display: block;
}

/* LIST SCROLL */
#notification .notification-list {
	max-height: 400px;
	overflow-y: auto;
}

/* NOTIFICATION POPUP CONTAINER */

#notification div#notification-poup-container {
	position: fixed;
	top: 45px;
	right: 0px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	z-index: 1;
	height: 0px;
	overflow: visible;
}

/* NOTIFICATION POOPUP STYLE */

#notification .notify-popup {
	width: 270px;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px #ddd;
	margin: 4px;
}

#notification .notify-popup-title {
	padding: 6px 8px;
	border-bottom: 1px solid #ddd;
}

#notification .notify-popup-title-wrapper {
	line-height: 1.4em;
	/* max-height: 2.2em; */
	color: #e81535;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#notification span.notify-popup-title-content {
	overflow: hidden;
	text-overflow: ellipsis;
}

#notification .notify-popup-content {
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

#notification .notify-popup-content .row {
	margin-bottom: 4px;
}

#notification .notify-popup-field-label {
	text-transform: capitalize;
	padding-left: 8px;
	padding-right: 8px;
}

#notification .notify-popup-field-label:after {
	content: ":";
}

#notification .notify-popup-field-value {
	padding-left: 8px;
	padding-right: 8px;
}

#notification .notify-popup-footer .center {
	text-align: center;
	padding: 6px 8px;
	border-top: 1px solid #eee;
}

#notification .notify-popup-footer .cancelLink, .notify-popup-footer button[name="submit"] {
	padding: 2px 6px !important;
	vertical-align: middle;
	margin: 0px;
}

#notification .notify-popup-tips {
	padding: 4px 8px;
	color: #888;
	font-style: italic;
	font-size: 11px;
	line-height: 1.4;
}

#notification .notification-footer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-top: 1px solid #eee;
	min-height: 14px;
}

#notification .notification-footer .footer-item {
	padding: 4px 6px !important;
	position: relative;
	color: #12627b;
}

#notification .notification-footer .footer-item:not(:last-child):after {
	content: '';
	display: block;
	height: 1em;
	position: absolute;
	border-right: 1px solid #666666;
	top: 50%;
	margin-top: -0.5em;
	right: 0px;
}

/* Bug #258: Added by Phu Vo on 2020.03.27 to fix to long notification content */
#notification,
#notification .font {
	font-family: 'Segoe UI', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0 0 var(--transparent-grey);
}

#notification .notification-inapp-notify [data-notify="message"] {
	max-height: 3.6em;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* End Phu Vo */

/* CODE FOR NEW NOTIFICATION */
#notification div#notification-popover {
	border-radius: 10px;
}

#notification .notification-items .avatar-container {
	width: 40px;
	height: 40px;
	background-color: var(--primary-light-2);
	border: 1px solid var(--primary-1);
	color: var(--primary-1);
}

#notification .notify-item-createdtime {
	text-align: left;
	color: var(--black-3);
}

#notification .notify-item[data-read="0"] {
	background-color: #fafdfe;
}

#notification .notify-item[data-read="0"]:hover,
#notification .notify-item:not([data-read="0"]):hover {
	background-color: #f3fafd;
}

#notification .notification-footer .footer-item {
	color: var(--primary-1);
}

#notification #notification #notification-tabs .nav-link > * {
	font-size: 20px;
}

#notification .notification-subtabs-counter.badge {
	margin-top: -13px;
}

#notification .nav-tabs {
	padding: 10px;
	padding-bottom: 0px;
	border-bottom-color: var(--black-5);
	z-index: 1;
}

#notification .nav-tabs > .nav-item.active {
	background-color: var(--white-1);
	border: 1px solid var(--black-5);
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#notification .nav-tabs > .nav-item.active .nav-link {
	color: var(--primary-1);
}

#notification .notification-subtabs.nav-tabs > .nav-item {
	margin-bottom: -2px;
}

#notification .notification-subtabs {
	padding: 0px;
	padding: 3px;
	background: #e6f6ee;
	border: none;
	margin: 6px;
	border-radius: 6px;
}

#notification .notification-subtabs.nav-tabs > .nav-item {
	padding-top: 2px;
	padding-bottom: 5px;
}

#notification .notification-subtabs.nav-tabs > .nav-item.active {
	background-color: var(--white-1);
	z-index: 1;
	border: none;
	border-radius: 6px;
	padding-top: 2px;
	padding-bottom: 5px;
}

#notification .notify-item-message {
	word-break: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* END CODE FOR NOTIFICATION */

/* Added by Hieu Nguyen on 2022-06-30 */
.notify-item-container .notify-item-footer {
	position: relative;
}

.notify-item-container .notify-item-footer .notify-item-actions {
	float: right;
    margin-top: -16px;
    font-size: 12px;
	color: #008ECF;
	font-weight: 600;
}

.notify-item-container .notify-item-footer .notify-item-actions .btn-accept-invitation {
	text-transform: uppercase;
}
/* End Hieu Nguyen */