body {
    font-family: Arial, Helvetica, sans-serif;
}

body,
.form-control,
.btn,
.custom-select {
    font-size: 0.85rem;
}

.table td, .table th {
    padding: .5rem;
}

.form-row {
    margin-right: -4px;
    margin-left: -4px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 4px;
    padding-left: 4px;
}

#app {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.form-control.readonly {
    border-color: transparent;
    background-color: transparent;
}

.select2-container {
    width: 100%;
}

.select2-choices > .select2-search-choice:first-child[data-type="Users"] {
    background-color: var(--primary);
    color: white;
}

.select2-choices > .select2-search-choice:first-child[data-type="Users"] .select2-search-choice-close {
    color: white;
}

.form-control.readonly {
    height: auto;
    overflow: hidden;
}

.error {
    color: var(--red);
}

.soft-hidden {
    height: 1px !important;
    background-color: transparent !important;
    color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    outline: none !important;
    user-select: none;
}

.soft-hidden:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

html::-webkit-scrollbar,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar {
    height:6px !important; 
    width:6px !important;
}

html::-webkit-scrollbar-track-piece,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar-track-piece{
    background:rgba(214, 218, 220, .6) !important;
}

html::-webkit-scrollbar-track-piece:vertical:start,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar-track-piece:vertical:start {
    border-radius:5px 5px 0 0 !important
}

html::-webkit-scrollbar-track-piece:vertical:end,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar-track-piece:vertical:end {
    border-radius:0 0 5px 5px !important
}

html::-webkit-scrollbar-track-piece:horizontal:start,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius:5px 0 0 5px !important
}

html::-webkit-scrollbar-track-piece:horizontal:end,
.fancyScrollbar .nav-tabs::-webkit-scrollbar,
.fancyScrollbar::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius:0 5px 5px 0 !important
}

.fancyScrollbar .nav-tabs::-webkit-scrollbar-thumb:horizontal, 
.fancyScrollbar .nav-tabs::-webkit-scrollbar-thumb:vertical,
html::-webkit-scrollbar-thumb:horizontal,
html::-webkit-scrollbar-thumb:vertical,
.fancyScrollbar::-webkit-scrollbar-thumb:horizontal, 
.fancyScrollbar::-webkit-scrollbar-thumb:vertical {
    background:#bfbfbf !important; 
    border-radius:5px !important; 
    display:block; 
    height:50px !important;
}

.fancyScrollbar .nav-tabs::-webkit-scrollbar-button:end:increment, 
.fancyScrollbar .nav-tabs::-webkit-scrollbar-button:start:decrement,
html::-webkit-scrollbar-button:end:increment,
html::-webkit-scrollbar-button:start:decrement,
.fancyScrollbar::-webkit-scrollbar-button:end:increment, 
.fancyScrollbar::-webkit-scrollbar-button:start:decrement {
    background:0 0 !important; 
    display:none !important;
}

.select2-choices .select2-search-choice:first-child[data-type="Users"] {
    background: #4D7BAE;
    border: #4D7BAE;
    color: white;
}

.select2-choices > .select2-search-choice:first-child[data-type="Users"] .select2-search-choice-close {
    color: white;
    background: transparent;
    font: normal normal normal 11px/1 FontAwesome;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.select2-choices > .select2-search-choice:first-child[data-type="Users"] .select2-search-choice-close:before {
    content: '\f00d';
}

.select2-choices > .select2-search-choice[data-type="Users"] > div > div:before,
.select2-choices > .select2-search-choice[data-type="Groups"] > div > div:before {
    display: inline;
    font-family: 'FontAwesome';
    margin-right: 4px;
}

.select2-container-multi .select2-choices li.select2-search-choice[data-type="Users"] > div > div:before {
    content: '\f007';
}

.select2-container-multi .select2-choices li.select2-search-choice[data-type="Groups"] > div > div:before {
    content: '\f0c0';
} 

.dataTables_paginate li {
    padding: 0px !important;
    margin: 0px !important;
    outline: 0px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #169BD5;
    font-weight: bold;
}

.form-control.readonly {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control.readonly.max-2 {
    white-space: unset;
    max-height: 3.8em;
    overflow: hidden;
    display: flex;
}

.form-control.readonly.max-2 a {
    display: inline-flex;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    margin-left: -5px;
    margin-right: -5px;
}

.footer-content {
    height: 50px;
    border-top: 1px solid #cdcdcd;
}

.fixed-footer:not(:empty) + .footer-padding {
    display: block;
    height: 61px;
}

th.date_start,
td.date_start,
th.activitytype,
td.activitytype {
    text-align: center;
}

.form-block {
    color: #169BD5;
}

button.btn-circle {
    font-size: 0.7rem;
    padding: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 1px solid #212529;
    background: white;
}

.b-avatar {
    background: transparent;
    border: 3px solid #6c757d;
}

.b-avatar img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border: none;
    border-radius: 0px;
}

th.sorting_disabled.createdtime {
    width: 100px !important;
}

th.sorting_disabled.createdby {
    width: 100px !important;
}

.parent-record .select2-container.form-control {
    max-width: 211px;
}

th.createdtime {
    width: 100px;
}

th.ticketstatus {
    width: 80px !important;
}

th.ticket_no,
table.dataTable th.ticket_no {
    width: 100px;
}