/* Added by Tung Nguyen on 2022-06-23 */

.json-display {
	margin: 0;
	padding: 10px 20px;
	white-space: pre-wrap;
}

.collapse {
	display: none;
}

.main-container .content-area {
	background-color: #fff !important;
}

#filter-container {
	border: 1px solid #cecece;
	margin-bottom: 10px;
	border-radius: 5px !important;
	padding: 15px;
}

#form-log-api {
	background-color: #fff !important;
}

.input-group {
	max-width: 220px !important;
}

.form-group {
	display: flex;
	align-items: center
}

.control-label {
	text-align: right;
}

.log-status {
	line-height:15px;
	color: black;
}

.success {
	background-color: #77d66b;
}
.error {
	background-color: #ff7070;
}

.custom-popover-container {
	border: 1px solid #7AC1D6;
	max-width: 500px !important;
}

.custom-popover-body.sm {
	width: 500px !important;
	max-height: 200px !important;
	overflow-y: auto;
}

.contents-bottomscroll {
	padding: 0 10px;
}

.logapi-footer {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.log-api {
	margin-bottom: 0 !important;
}